<h2>Applainces And Rates</h2>

<table>
    <tr>
        <th>Applainces</th>
        <th>Rates</th>
    </tr>
    {{#each appliances}}
    <tr>

        <td>{{name}}</td>
        <td>{{rate}}</td>
    </tr>
            {{/each}}

</table>