<h2>Meters in Street</h2>

<table>
    
    <th>Meter</th>
    <th>Balance</th>
    </tr>
    {{#each meters}}

    <tr>
        <td>
            {{id}} 
        </td> 
        <td>
            {{balance}}
        </td>
    </tr>
    
    {{/each}}
</table>